<div class="container" style="margin-left: 90px;">
  <div class="form">
    <h1>Edit <%= @meerkat.name %> </h1>

    <%= simple_form_for @meerkat, method: :patch, html: { autocomplete: 'off' } do |f| %>
      <%= f.input :name %>
      <%= f.input :specialty %>
      <%= f.input :age %>
      <%= f.input :price %>
      <%= f.input :location %>
      <%= f.input :description %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>

      <%= f.submit 'Submit changes'%>
    <% end %><br/>
  </div>

  <%= link_to 'Delete this meerkat', meerkat_path(@meerkat),
    method: :delete,
    data: { confirm: "Are you sure you want to delete this meerkat?"},
    class: "btn btn-light" %>

  <%= link_to 'Go back', meerkat_path(@meerkat), class: "btn btn-light"%>
</div>
