<% content_for :class_name, 'transparent' %>

<div class="banner">
  <div id="banner-info" class="container">
    <h1>Welcome to Meerkatnb</h1>
    <p>The perfect platform to find a Meerkat to help you solve your problems</p>
    <a class="btn btn-transparent" href="#">Search available Meerkats!</a>
  </div>
</div>

<div class="cards mb-5">
  <% @meerkats.each do |meerkat| %>
    <%= link_to meerkat_path(meerkat) do %>
      <div class="card-trip">
        <%= image_tag(photo_or_fallback(meerkat)) %>
          <div class="card-trip-infos">
            <div>
              <h2><%= meerkat.name %></h2>
              <p><%= meerkat.specialty %></p>
            </div>
            <h2 class="card-trip-pricing"><%= meerkat.price %> € per day</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
      <% end %>
    </div>
  <% end %>
</div>


