<div class="d-flex negative_margin">
  <div id="form-area" class="col-md-8">
    <h1>Create a new Meerkat</h1>
    <div class="form mt-4">
        <%= simple_form_for (@meerkat), html: { autocomplete: 'off' } do |f| %>
        <div class="row">
          <div class="col">
            <%= f.input :name, placeholder: 'Name', label: false %>
            <%= f.input :specialty, placeholder: 'Specialty', label: false %>
            <%= f.input :age, placeholder: 'Age' , label: false %>
          </div>
          <div class="col">
            <%= f.input :price, placeholder: 'Price' , label: false  %>
            <%= f.input :location, placeholder: 'Location' , label: false  %>
            <%= f.input :description, placeholder: 'Description' , label: false  %>
          </div>
        </div>

        <label class="btn btn-mustard">
          Add photo
          <span style="display:none;">
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </span>
        </label><br/>

        <%= f.submit 'Create Meerkat', class: "btn btn-mustard" %>
        <% end %>
    </div>




  </div>
  <div class="z-index-positive col-md-4 center-background" style="background-image: url('<%= image_path(photo_or_fallback(@meerkat)) %>')">

  </div>
</div>
