<div class="d-flex">
  <div id="show-info-container" class="col-lg-6">
    <h2><%= @meerkat.name %></h2>
    <h3><%= @meerkat.specialty %></h3>
    <p><%= @meerkat.age %> years old</p>
    <p>from <%= @meerkat.location.capitalize %></p>
    <p><%= @meerkat.description %></p>
    <%= render 'stars' %>

  </div>

  <div id="show-image-container" class="col-lg-6">
    <div id="show-image" style="background-image: url('<%= image_path(photo_or_fallback(@meerkat)) %>')">
    </div>
  </div>
</div>

<div class="bookings-card sticky">
  <div>
    <p class="meerkat-price"><strong><%= @meerkat.price %></strong> € / day: </p>
  </div>
  <div>
  <%= simple_form_for([@meerkat, Reservation.new]) do |f| %>
    <div id="flatpicker-dates" class="">
      <%= f.input :date_start, as: :string, placeholder: 'Select your dates', class: 'form-control show-form', required: false, input_html: {class: "datepicker"}, label: false %>
    </div>
    <div>
      <%= f.submit "Book Now", class: "btn btn-mustard full-width mb-4" %>
    </div>
    <div>
      <p>Total: <strong><span id="total-price">0</span> €</strong> </p>
    </div>
    <% end %>
  </div>
</div>

<div class="show-reviews">
  <div class="mb-3">
    <h2>Reviews</h1>
  </div>

  <div class="review">
    <% @meerkat.reviews.sort_by(&:created_at).reverse.each do |review| %>
      <div class="user-photo-name d-flex align-items-center">
        <div><%= image_tag photo_or_fallback_user(review.user), class: "avatar dropdown-toggle" %></div>
        <div class="mt-3 ml-2"><p><%= review.user.name %></p></div>
      </div>
      <p>Rating:</p>
      <%review.rating.times do %>
      <%= image_tag "estrela_amarela.png", width: 15 %>
      <% end %>
      <p><%= review.comment %></p>
    <% end %>
  </div>

  <% if policy(@meerkat).edit? %>
        <%= link_to "Edit Meerkat", edit_meerkat_path(@meerkat), class: "btn btn-mustard" %>
      <% end %>

      <%= link_to "Back to search page", root_path, class: "btn btn-mustard" %>
</div>
