<div class="d-flex negative_margin">
  <div id="" class="col-md-8 form-area">
    <h2>Sign up</h2>
    <div class="form mt-4">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
                <%= f.button :submit, "Sign up", class: "btn btn-mustard mb-3" %>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>

  </div>
  <div class="z-index-positive col-md-4 center-background" style="background-image: url('https://www.batterseaparkzoo.co.uk/media/1124/meerkat.jpg?width=1000&upscale=false')">

  </div>
</div>
