<div class="border-top">
  <div class="container p-3">
    <h1>My reservations</h1>

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Meerkat</th>
          <th>Specialty</th>
          <th>Date Start</th>
          <th>Date End</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @reservations.sort_by(&:created_at).reverse.each do |reservation| %>
            <tr>
              <td><%= link_to reservation.meerkat.name, meerkat_path(reservation.meerkat) %></td>
              <td><%= reservation.meerkat.specialty %></td>
              <td><%= reservation.date_start %></td>
              <td><%= reservation.date_end %></td>
              <td>
                <% if policy(Review).create? %>
                  <% unless reservation.review.present? %>
                    <%= link_to "Add a review", new_reservation_review_path(reservation), class: "btn btn-light" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

